# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Virtual environment
.venv/

# Flask session files
flask_session/

# Databases, secrets
*.db
*.sqlite
.env

# MacOS files
.DS_Store

# Flake8 settings file
.flake8