{% set index = subform.name | replace('exercises-', '') %}
{% set remove_url = url_for('.remove_exercise_row') %}
<div class="row g-2 mb-2" data-index="{{ index }}">
    <div class ="col-md-4">
        <div>
            {{ subform.exercise(**{
                "class": "js-exercise-select",
                "hx-get": url_for("._exercise_history"),
                "hx-trigger": "change",
                "hx-target": "#ex-history-" ~ index,
                "hx-include": "#" ~ form_id,
                "hx-vals": '{"row_index": "' ~ index ~ '"}',
                "hx-swap": "innerHTML"
            }) }}
            {% for error in subform.exercise.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
    <div class ="col-md-2">
        <div class="form-floating">
            {{ subform.sets(
                class="form-control", 
                placeholder="Sets"
            ) }}
            {{ subform.sets.label(class="form-label") }}
            {% for error in subform.sets.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
    <div class ="col-md-2">
        <div class="form-floating">
            {{ subform.reps(
                class="form-control", 
                placeholder="Reps"
            ) }}
            {{ subform.reps.label(class="form-label") }}
            {% for error in subform.reps.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
    <div class ="col-md-3">
        <div class="form-floating">
            {{ subform.weight(
                class="form-control", 
                placeholder="Weight"
            ) }}
            {{ subform.weight.label(class="form-label") }}
            {% for error in subform.weight.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-1 d-flex">
        <button
        type="button"
        class="btn btn-outline-primary w-100 d-md-inline d-block mb-md-0 js-remove-exercise"
        hx-post="{{ remove_url }}"
        hx-target="#exercise-wrapper"
        hx-include="#{{ form_id }}"
        hx-vals='{
            "remove_index": "{{ index }}",
            "mode": "{{ mode }}"
        }'
        hx-swap="innerHTML">
        <i class="bi bi-x"></i>
        </button>
    </div>
</div>
<div id="ex-history-{{ index }}" class="mb-2"></div>