{% extends "layout.html" %}
{% from "macros/badges.html" import paid_badge, mode_badge, session_status_badge %}

{% block title %}
    {{ client.name }}
{% endblock %}

{% block main %}
    {% if client.archived_at %}
        {% include "clients/_client_archived.html" %}
    {% else %}
        {% include "clients/_client_active.html" %}
    {% endif %}
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/table-row-link.js') }}"></script>
        <script src="{{ url_for('static', filename='js/go.js') }}"></script>
    {% endblock %}
{% endblock %}