{% extends "layout.html" %}
{% from "macros/badges.html" import paid_badge, mode_badge, session_status_badge %}

{% block title %}
    {{ client.name }}
{% endblock %}

{% block main %}
    <form method="post" novalidate class="add-form">
    <div class="d-flex justify-content-between gap-3 mb-3">
        <h2 class="h2">{{ client.name }}</h2>
        <div class="d-flex justify-content-center align-items-center gap-2 mb-2" >
            <a href="{{ url_for('.clients') }}" class="btn btn-outline-primary" style="width: 150px;">
                <i class="bi bi-arrow-return-left"></i> Clients
            </a>
            <button type="submit" class="btn btn-primary" style="width: 150px;">
                    Save changes
            </button>
        </div>
    </div>
        {{ form.hidden_tag() }}
        <div class="row g-2 mb-2">
            <div class="col-md-6">
                <div class="form-floating mb-2">
                    {{ form.name(class="form-control", placeholder="Client Name") }}
                    {{ form.name.label(class="form-label") }}
                    {% for error in form.name.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-2">
                    {{ form.status(class="form-select", placeholder="Client Status") }}
                    {{ form.status.label(class="form-label") }}
                    {% for error in form.status.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row g-2 mb-2">
            <div class="col-md-6">
                <div class="form-floating mb-2">
                    {{ form.price(class="form-control", placeholder="Session Price") }}
                    {{ form.price.label(class="form-label") }}
                    {% for error in form.price.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-2">
                    {{ form.contact(class="form-control", placeholder="Contact Information (Optional)") }}
                    {{ form.contact.label(class="form-label") }}
                    {% for error in form.contact.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            {{ form.notes(class="form-control", placeholder="Notes (Optional)") }}
            {{ form.notes.label(class="form-label") }}
            {% for error in form.notes.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>
    </form>
    <div class="d-flex justify-content-center gap-3 mb-3">
        <h3 class="h3">{{ client.name }}'s Sessions</h3>
        {% if client.status == "active" %}
            <button
                type="button"
                class="btn btn-outline-primary mb-3 js-go"
                data-url="{{ url_for('.add_session', client_public_id=client.public_id) }}">
                <i class="bi bi-plus-circle"></i> Add Session
            </button>
        {% else %}
            <span
                class="d-inline-block mb-3"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Sessions can be created only for active clients.">
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    disabled>
                    <i class="bi bi-plus-circle"></i> Add Session
                </button>
            </span>
        {% endif %}
    </div>
    <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-start">Start</th>
                    <th class="text-start">Mode</th>
                    <th class="text-start">Status</th>
                    <th class="text-start">Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                    <tr 
                        class="table-row-link"
                        data-url="{{ url_for('.session', session_public_id=session.public_id) }}">
                        <td class="text-start">
                            {{ session.start_dt|dt_no_seconds }}
                        </td>
                        <td class="text-start">
                            {{ mode_badge(session.mode) }}</td>
                        <td class="text-start">
                            {{ session_status_badge(session.status) }}
                        </td>
                        <td class="text-start">
                            {{ paid_badge(session.is_paid) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/table-row-link.js') }}"></script>
        <script src="{{ url_for('static', filename='js/go.js') }}"></script>
    {% endblock %}
{% endblock %}